#WBS {
  .l-main-content {
    .l-main-content__downloadlink {
      .l-main-content-list {
        div {
          .pop-content {
            display: block;
            transform-origin: top right;
            max-width: 100vw;
            //left: -800px; //
            left: -934px;
            padding: 2rem;

            &::before {
              //left: 615px;
              left: 755px;
              top: 12px;
            }
            &::after {
              left: 755px;
              //left: 615px;
            }
            h3 {
              margin-top: 0.5rem;
              color: $gray1;
              font-size: $h2;
              font-weight: bolder;
            }
            h6 {
              color: #fff;
              background: $hy-background;
              padding: 0.5rem 0.8rem;
              border-radius: 1rem;
              display: inline-block;
            }
            section {
              img {
                max-height: 220px;
                margin-bottom: 1rem;
              }
              @media screen and (max-width: 1360px) {
                img {
                  width: 100%;
                }
              }
            }
            ul {
              margin: 0.5rem 0 1rem 0;
            }
            li {
              margin-left: 1rem;
              border: 0px;
              line-height: 1.1rem;
              padding: 0.5rem;
              span {
                color: $red;
              }
              &:hover,
              :active {
                background: #fff;
              }
            }
            li::before {
              content: "\2022";
              color: $hyweb-blue;
              font-weight: bold;
              display: inline-block;
              width: 1em;
              margin-left: -1em;
            }
          }
          @media screen and (max-width: 1360px) {
            .pop-content {
              max-width: 80vw;
              left: -800px;
              &::before,
              &::after {
                left: 615px;
              }
            }
          }
          @media screen and (max-width: 1220px) {
            .pop-content {
              max-width: 535px;
              left: -500px;
              &::before,
              &::after {
                left: 315px;
              }
            }
          }
        }
      }
    }

    .l-main-content__wbslist {
      .table-thead {
        .row {
          .s1 {
            width: 6.8rem;
          }
        }
      }

      .table-body {
        .table-body__item {
          .s1 {
            width: 6.8rem;
            padding-right: 1rem;
            max-height: 5.3rem;

            .o-input {
              margin: 0 0.5rem;

              input {
                margin-left: 0.8rem;
                width: 4rem;
              }
            }
          }

          .row {
            .is-error-status-item {
              .o-input {
                input {
                  margin-top: 0.5rem;
                }
              }
              .c-dropdown__input {
                margin-top: 0.3rem;
              }
              .c-dropdown-general {
                margin-top: 0.3rem;
              }
              .c-datePicker-days {
                margin-top: 0.3rem;
              }
            }
            .s1 {
              text-align: end;
              display: flex;
              justify-content: flex-end;
              .o-input {
                margin-right: 0rem;
                input {
                  text-align: end;
                }
              }
            }
          }

          .c-datePicker-days {
            .c-datePicker__modal {
              margin-bottom: 1rem;
            }
          }
        }
        .is-error-status {
          padding-bottom: 0;

          .o-input-textarea {
            textarea {
              margin-top: -1rem;
            }
          }
          .o-input {
            input {
              margin-top: -1rem;
            }
          }
          .c-dropdown__input {
            margin-top: -1rem;
          }
          .c-dropdown-general {
            margin-top: -1rem;
          }
          .c-datePicker-days {
            margin-top: -1rem;
          }
          //wbs 表單 工作內容 錯誤狀態
          .c-input-content.o-input-textarea {
            textarea {
              margin-top: 0.6rem;
            }
          }
        }

        .table-body__conutItem {
          height: 3.733rem; //4rem;
          box-shadow: $box-shadow;
          .table-body__item__project {
            margin: 1rem 0.5rem;
            height: 2.5rem;
          }
        }
      }

      .is-error-status-item {
        .o-input-div {
          background-color: #fff;
        }
      }

      .c-dropdown-member {
        .c-dropdown__input {
          .o-input-div {
            background-color: rgba(0, 0, 0, 0);

            &::after {
              background-image: url(../img/o-arrowDown.svg);
            }
          }

          &::after {
            background-color: rgba(0, 0, 0, 0);
            background-image: none;
            z-index: -1;
          }
        }
      }
    }
  }
}

#introduction {
  .l-main-content__upload {
    .row {
      :nth-child(1) {
        img {
          width: 2.4rem;
        }

        width: 75.6666666667%;
      }

      .s8 {
        img {
          cursor: default;
        }
      }

      .s1 {
        min-width: 82px;

        button {
          width: 33px;

          :nth-child(1) {
            width: 24px;
          }
        }
      }

      :nth-child(3) {
        width: 9.6666666667%;
        min-width: 100px;
      }

      :nth-child(4) {
        margin: 0;
        min-width: 82px;
      }
    }
  }

  .l-main-content__planlist {
    .table-thead {
      .row {
        .col {
          div {
            width: auto;
          }
        }
      }
    }

    .table-body {
      .row {
        .col {
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          div {
            width: auto;
          }
        }
      }

      .c-popover-checkPoint {
        .c-popover__content {
          margin-bottom: 0.5rem;
        }
      }

      .c-datePicker-day {
        .c-datePicker__modal {
          margin-bottom: 1rem;
        }
      }
    }
  }
}

#types {
  .l-main-content__workTypelist {
    .table-thead {
      padding: 0.6rem 0 0.6rem 0;
    }

    .table-footer {
      padding: 0;
      //padding: 1rem 0 1rem 0;
    }
  }
}
