#memberstime {
  .l-main-tabs {
    margin-bottom: 5px;
  }

  .c-search-list {
    .c-dropdown-member {
      .c-dropdown__input {
        .o-input-div {
          background-color: rgba(0, 0, 0, 0);

          &::after {
            background-image: url(../img/o-arrowDown.svg);
          }
        }

        &::after {
          background-color: rgba(0, 0, 0, 0);
          background-image: none;
          z-index: -1;
        }
      }
    }
  }

  .c-card-manhourSearch {
    margin-bottom: 1rem;
  }

  .c-datePicker__modal {
    .c-datePicker__yearPicker {
      button {
        border-radius: 50%;
      }
    }
  }
  .l-main-content-item {
    justify-content: flex-start;
  }
  .l-main-content-item__listTitle {
    height: 4rem;
  }

  .change-card-to-list {
    .l-main-content-item__listTitle {
      padding-left: 3rem;
    }

    .l-main-content-item {
      .c-card-manhourSearch {
        height: 3.733rem; //4rem;
        margin-bottom: 0;
        cursor: default;
        min-height: auto;
        a {
          min-height: auto;
        }
        div {
          cursor: default;
        }
        .c-card__content {
          position: relative;
          bottom: 0;
        }
        .c-card__userInformation {
          margin-top: 0;
          position: relative;
          bottom: 0;
        }
      }
    }
    .c-card-manhourSofar__Resign {
      display: none;
    }
    .c-card-manhourSearch__userName {
      display: none;
    }

    .c-card-manhourSearch__englishName {
      display: none;
    }

    .listTitle__user {
      width: 10%;
    }

    .listTitle__englishName {
      width: 60%;
    }

    .listTitle__workTime {
      width: 10%;
    }

    .js-c-card__appendUserName {
      width: 80%;

      h2 {
        width: 12.5%;
      }

      h3 {
        width: 75%;
        display: flex;
        justify-content: space-between;
        span {
          &:last-child {
            color: $gray3;
            margin-right: 1.5rem;
          }
        }
      }
    }

    .c-card__content {
      width: 10%;
    }

    .c-card-manhourSearch {
      &:hover {
        transition: all 0;
        transform: translateY(0px) translateX(0px);
      }

      &:active {
        transition: all 0;
        transform: translateY(0px) translateX(0px);
      }

      .c-card__userInformation {
        h3 {
          font-family: $font-family;
        }
      }
    }
  }
}

#departmenttime {
  .l-main-tabs {
    margin-bottom: 5px;
  }

  .c-datePicker__modal {
    .c-datePicker__yearPicker {
      button {
        border-radius: 50%;
      }
    }
  }

  .change-card-to-list {
    .c-card__userInformation {
      margin-top: 0;
    }
    .c-card-manhourSofar__Resign {
      display: none;
    }
    .c-card-manhourSearch {
      margin-bottom: 0rem;

      div {
        cursor: default;
      }
    }

    .c-card-manhourSearch__userName {
      display: none;
    }

    .c-card-manhourSearch__englishName {
      display: none;
    }

    .listTitle__user {
      width: 10%;
    }

    .listTitle__englishName {
      width: 60%;
    }

    .listTitle__workTime {
      width: 10%;
    }

    .js-c-card__appendUserName {
      width: 80%;

      h2 {
        width: 12.5%;
      }

      h3 {
        width: 75%;
        display: flex;
        justify-content: space-between;
        span {
          &:last-child {
            margin-right: 1.5rem;
            color: $gray3;
          }
        }
      }
    }

    .c-card__content {
      width: 10%;
    }

    .c-card-manhourSearch {
      &:hover {
        transition: all 0;
        transform: translateY(0px) translateX(0px);
      }

      &:active {
        transition: all 0;
        transform: translateY(0px) translateX(0px);
      }
    }
  }
}

#supporttime {
  .c-card-department {
    margin-bottom: 1rem;
  }

  .c-card-manhourSearch {
    margin-bottom: 1rem;

    div {
      cursor: default;
    }
  }
  .l-main-content {
    .c-tabs__content {
      margin-bottom: 1rem;
      .active {
        border-bottom: 4px solid $hyweb-blue;
      }
    }
  }
  .l-main-content-text__title {
    margin-bottom: 1rem;
  }
  .l-main-tabs {
    margin-bottom: 5px;
  }

  .l-main-content-text {
    .l-main-content-text__title {
      .o-btn-secondary a {
        color: $gray1;
      }
    }
  }

  .c-datePicker__modal {
    .c-datePicker__yearPicker {
      button {
        border-radius: 50%;
      }
    }
  }

  .change-card-to-list {
    .c-card-department {
      cursor: default;
      min-height: auto;
      .c-card__content {
        position: relative;
        bottom: 0;
      }
    }

    .c-card-manhourSearch {
      margin-bottom: 0rem;

      .c-card__userInformation {
        h3 {
          font-family: $font-family;
          display: flex;
          justify-content: space-between;
        }
      }
      // .c-card-manhourSofar__Resign {
      //   display: none;
      // }
    }
    .c-card-planPerson {
      a {
        padding-left: 3rem;
      }
    }
    .l-main-content-item__listTitle {
      height: 3.733rem; //4rem;
      padding-left: 3rem;
    }

    .l-main-content-item {
      .c-card-department {
        height: 3.733rem; //4rem;
        margin-bottom: 0;

        &:hover {
          transition: all 0;
          transform: translateY(0px) translateX(0px);
        }

        &:active {
          transition: all 0;
          transform: translateY(0px) translateX(0px);
        }

        h2 {
          font-weight: 400;
          font-size: $p;
          width: 10%;
          font-family: $font-family;
          line-height: 1.2rem;
        }

        .c-card__userInformation {
          display: none;
        }
      }
    }

    .c-card-manhourSearch__userName {
      display: none;
    }

    .c-card-manhourSearch__englishName {
      display: none;
    }

    .listTitle__user {
      width: 10%;
    }

    .listTitle__englishName {
      width: 60%;
    }

    .listTitle__workTime {
      width: auto;
    }

    .js-c-card__appendUserName {
      width: 80%;

      h2 {
        width: 12.5%;
      }

      h3 {
        width: 75%;
      }
    }

    .c-card__content {
      width: 10%;
    }

    .c-card-manhourSearch {
      height: 3.733rem; //4rem;
      min-height: auto;
      &:hover {
        transition: all 0;
        transform: translateY(0px) translateX(0px);
      }

      &:active {
        transition: all 0;
        transform: translateY(0px) translateX(0px);
      }
      a {
        min-height: auto;
      }
      .c-card__userInformation {
        position: relative;
        bottom: 0;
      }
      .c-card__content {
        position: relative;
        bottom: 0;
      }
    }
    #support_department {
      .c-card-department {
        min-height: auto;
        .c-card__content {
          position: relative;
          bottom: 0;
        }
      }
    }
    #support_people {
      .c-card-manhourSofar__Resign {
        display: none;
      }
      .c-card-manhourSearch {
        min-height: auto;
        a {
          min-height: auto;
        }
      }
      .js-c-card__userNumber {
        display: none;
      }
      .js-c-card__appendUserName {
        width: 75%;
      }
      .listTitle__englishName {
        width: 56.5%;
      }
      .listTitle__user,
      .listTitle__userNum {
        width: 9.4%;
      }
      .c-card__userInformation {
        margin-top: 0;
        position: relative;
        bottom: 0;
      }
      .c-card__content {
        position: relative;
        bottom: 0;
      }
      .js-c-card__appendUserName {
        h3 {
          display: flex;
          justify-content: space-between;
          span {
            &:last-child {
              margin-right: 1.5rem;
              color: $gray3;
            }
          }
        }
      }
    }
    #support_plan {
      .l-main-content-item__listTitle {
        .listTitle__name {
          width: 60%;
        }
        .listTitle__time {
          width: 15%;
        }
      }
      .c-card-planPerson {
        min-height: auto;
        a {
          min-height: auto;
          h2 {
            width: 60%;
          }
        }
      }
    }
  }
}

#notReachedtime {
  .l-main-tabs {
    margin-bottom: 5px;
  }

  .c-search-list {
    .c-dropdown-member {
      .c-dropdown__input {
        .o-input-div {
          background-color: rgba(0, 0, 0, 0);

          &::after {
            background-image: url(../img/o-arrowDown.svg);
          }
        }

        &::after {
          background-color: rgba(0, 0, 0, 0);
          background-image: none;
          z-index: -1;
        }
      }
    }
  }

  .c-datePicker__modal {
    .c-datePicker__yearPicker {
      button {
        border-radius: 50%;
      }
    }
  }

  .change-card-to-list {
    .c-card-percent {
      margin-bottom: 1rem;
      cursor: default;
      min-height: auto;
      div {
        cursor: default;
      }

      &:hover {
        transition: all 0;
        transform: translateY(0px) translateX(0px);
      }

      &:active {
        transition: all 0;
        transform: translateY(0px) translateX(0px);
      }

      .c-card__item {
        .c-card__item__title {
          margin-top: 0.2rem;
        }
      }
      .c-card-manhourSofar__Resign {
        display: none;
      }
      .c-card__userInformation {
        margin-top: 0;
        position: relative;
        bottom: 0;
      }
      .c-card__content {
        position: relative;
        bottom: 0;
      }
    }

    .l-main-content-item__listTitle {
      height: 3.733rem; //4rem;
      padding-left: 3rem;
    }

    .c-card-percent {
      margin-bottom: 0rem;
    }

    .c-card-percent {
      height: 3.733rem; //4rem;
    }

    .c-card__userInformation {
      h3 {
        font-family: $font-family;
      }
    }

    .c-card__item__title {
      cursor: default;
    }

    .c-card-percent__userName {
      display: none;
    }

    .c-card-percent__englishName {
      display: none;
    }

    .c-card-manhourSearch__userName {
      display: none;
    }

    .c-card-manhourSearch__englishName {
      display: none;
    }

    .listTitle__user {
      width: 10%;
    }

    .listTitle__englishName {
      width: 60%;
    }

    .listTitle__workTime {
      width: 10%;
    }

    .js-c-card__appendUserName {
      width: 80%;

      h2 {
        width: 12.5%;
      }

      h3 {
        width: 75%;
      }
    }

    .c-card__content {
      width: 10%;
    }

    .card-percent__listTitle {
      .listTitle__englishName {
        width: 15%;
      }

      .listTitle__workTime {
        width: 15%;
      }

      .listTitle__leaveTime {
        width: 30%;
      }
    }

    .c-card-percent {
      .js-c-card__appendUserName {
        width: 35%;

        h2 {
          width: 28.5714%;
        }

        h3 {
          width: 42.857142%;
        }
      }

      .c-card__content {
        width: 55%;

        .c-card__item {
          width: auto;
          justify-content: flex-start;

          div {
            padding: 0;
            margin: 0;
          }
        }

        .c-card-percent__workTime {
          width: 27.272727%;

          .c-card__item__totaltime {
            font-weight: 400;
            letter-spacing: 0;
          }
        }

        .c-card-percent__leaveTime {
          width: 54.5454545%;
          justify-content: space-between;
          .js-c-card__appendResignDiv {
            display: inline-block;
            margin-right: 1.5rem;
            font-size: $p;
            color: $gray3;
          }
        }

        .c-card-percent__percent {
          width: 18.181818%;
        }
      }
    }

    .c-card-percentCheck {
      &:hover {
        transition: all 0;
        transform: translateY(0px) translateX(0px);
      }

      &:active {
        transition: all 0;
        transform: translateY(0px) translateX(0px);
      }

      cursor: default;

      div {
        cursor: default;
      }

      .c-card-title {
        span {
          right: 30px;
          top: 5px;
        }
        form {
          margin-top: 0rem;
          margin-right: 0rem;
        }
        div {
          margin-left: 0rem;
        }
      }
    }

    .c-card-manhourSearch {
      &:hover {
        transition: all 0;
        transform: translateY(0px) translateX(0px);
      }

      &:active {
        transition: all 0;
        transform: translateY(0px) translateX(0px);
      }
    }

    a {
      align-items: center;
    }
  }

  .is-error-status {
    padding: 0.8rem 0.2rem 1.4rem 0.5rem;
    .c-search-list {
      .c-search-item {
        .c-search-item__percentTitle {
          color: $danger;
        }

        .c-search-item__input {
          input {
            background-color: #fff;
            border: 1px solid $danger;
          }
          input[type="submit"] {
            border: 0px;
          }
          &:after {
            position: absolute;
            content: "請填0~100的阿拉伯數字";
            color: $danger;
            font-size: 12px;
            display: block;
            right: 0;
            margin: 4px 0;
          }
        }
      }
    }
  }
}
