
 .l-main-content__cardGroup{
        display: flex;
        .l-main-content__cardGroup__item {
            display: flex;
            margin-right:1rem;
            height: 180px;
            width: 50%;
            &:last-child{
                margin-right:0;
            }
        }
        .s12{
            width: 100%;
        }
        .s6{
            width: 50%;
        }
        .s3{
            width: 25%;
        }
}
.l-main-content__card{
    @extend .card;
    padding:1rem;
    margin:0.1rem 1rem 1rem 0;
    border-radius: $card-lableGroup;
    &:last-child{
        margin-right:0;
    }
    .l-main-content__title{
        margin-bottom: 1.5rem;
        display: flex;
        justify-content: space-between;
        div{
            display: flex;
            button{
              margin: 0 ;
            }
        }
    }
    
    .l-main-content__planlist{
        .table-body{
            height: 355px;
            overflow-y: scroll;
            overflow-x: scroll;
            .o-input{
                height: 3rem;
                input{
                    height: 3rem;
                }
            }
        }
        
    }
    .l-main-content__addMember{
        max-height:180px;
        overflow-y: scroll;
    }

    .l-main-content__maintain{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        .l-main-content__maintain__text{
            font-family: $font-family;
            font-size: $p;
            color: $gray1;
            padding:0 0.5rem;
            padding-bottom: 1rem;
            white-space: nowrap;
        }
        .l-main-content__maintain__num{
            font-family: $english-font;
            width: 7.5rem;
            font-size:60px ;
            font-weight: 700;
            text-align: center;
            color: $hyweb-blue;
            .o-input{
                input{
                    width: 100%;
                    height: 4rem;//60px;
                    font-family: $english-font;
                    font-weight: 700;
                    padding: 0.5rem;
                    font-size:60px ;
                    color: $hyweb-blue;
                }
            }
            .o-input-lg{
                input{
                    width: 120px;
                }   
            }
      
        }
       

    }
    .l-main-content__maintain__text{
        text-align: center
    }
}
.l-main-content__dbcard{
    @extend .l-main-content__card;
    display: flex;
    .l-main-content__card__item{
        border-right:1px solid $gray-blue;
        padding-right:1rem;
        .l-main-content__title{
            line-height: 2.2rem;
        }
        &:last-child{
            border: 0;
            margin-left:1rem;
        }
        .l-main-content__switch{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            .o-switch{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 60px;
                width: 100%;
                .lever{
                margin:0;
                }
            }
            .l-main-content__switchSubtext{
                text-align: center;
                .text-danger{
                    font-weight: bold;
                }
            }
        }
    }
}
// .l-main-content__switchCard{
//     @extend .l-main-content__card;
//     padding: 0;
//     .l-main-content__switchTitle{
//         padding-top: 1rem;
//         display: flex;
//         justify-content: center;
//     }
//     .l-main-content__switch{
//         display: flex;
//         flex-wrap: wrap;
//         justify-content: center;
//         padding-bottom: 0;
//         height: calc(100% - 59.5px);
//         .o-switch{
//             width: 100%;
//             display: flex;
//             justify-content: center;
//             .lever{
//                 margin:0;
//             }

//         }
//         .l-main-content__switch__text{  
//             display: flex;
//             align-self: flex-end;
//             justify-content: center;
//             padding: 1rem 0;
//             width: 100%;
//             background-color:$gray4;
//             border-radius: 0 0 $card-lableGroup $card-lableGroup;
//         }
//         .is-switch-active{
//             background:$hy-background;
//             color: #fff;
//         }
        
//     }
// }