#WBS{
    .l-main-content{
        .l-main-content__wbslist{
            .table-thead{
                .row{
                    .s1{
                        width:6.8rem;
                    }  
                }
            }
            .table-body{
                .table-body__item {
                    .s1{
                        width:6.8rem;
                        padding: 0; 
                        max-height: 5.3rem;
                        .o-input{
                            margin:0 0.5rem;
                            input{
                                margin-left: 0.8rem;
                                width: 4rem;
                            }
                        }
                    }
                    .row{
                        .is-error-status-item{
                            .o-input{
                                margin-top:1rem;
                            }
                        }
                    }
                   
                }
                .table-body__conutItem{
                    .table-body__item__project{
                        margin: 1rem 0.5rem;
                        height: 2.5rem;
                    }
                   
                } 
            }
        }
       
    }
  
}