#todo{
    
    .l-main-tabs{
        margin-bottom: 1rem;
    }
    .c-card-planReport{
        min-width: 879px;
        max-width: 1000px;
        width: auto;
    }
    .c-card-planReport-danger{
        min-width: 879px;
        max-width: 1000px;
        width: auto;
    }
 
    .l-main-content-item__listGroup{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
}