#memberstime_execute{
@extend #execute;
.change-card-to-list{
    .c-card-manhourSearch{
        &:hover{
            transition: all 0; 
            transform: translateY(0px) translateX(0px);
        }
            &:active{
            transition: all 0;
            transform: translateY(0px) translateX(0px);
        }
    }
}


}
#departmenttime_execute{
    @extend #execute;
}
#supporttime_execute{
    @extend #execute;
}
#notReachedtime_execute{
    @extend #execute;

}
#member_execute{
    @extend #execute;

}
#commission__execute{
    @extend #execute;
}
#support__execute{
    @extend #execute;
}
#worktime__execute{
    @extend #execute;
}