.c-card-planHotkey {
  h2,
  span {
    color: $gray1 !important;
  }
}
.change-card-to-list {
  .c-card-planPerson {
    h2 {
      margin-bottom: 0 !important;
    }
  }
}
.c-modal-chooseGroup {
  .c-modal-content__inputSpe {
    .s1 {
      width: 3rem;
      padding: 0 0.2rem;
      margin-left: 0;
      text-align: center;
    }
    .s4 {
      width: calc(50% - 3rem);
      padding: 0;
      margin: 0;
      .input-field {
        width: 100%;
      }
    }
    .s2 {
      width: 5rem;
      margin: 0;
    }
    .s3 {
      width: calc(50% - 5rem);
      padding: 0;
      margin: 0;
      input {
        box-sizing: border-box;
      }
    }
  }
}
.tooltip {
  border-bottom: 0px;
}

//--- date-picker
.ant-picker {
  border: 1px solid rgba(255, 255, 255, 0);
  .ant-picker-input {
    input {
      &::placeholder {
        color: $gray3;
      }
      margin: 0;
    }
  }
}
.ant-picker-focused,
.ant-picker:hover {
  border: 1px solid rgba(255, 255, 255, 0);
}
.ant-picker-focused {
  box-shadow: none;
}
.ant-picker-clear {
  color: $hyweb-blue;
  font-size: 1.1rem;
}
.ant-picker-content {
  tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    .ant-picker-cell-inner {
      vertical-align: middle !important;
    }
  }
  th {
    padding-top: 0.8rem;
  }
}
.ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-range-start-single):not(.ant-picker-cell-range-end)
  .ant-picker-cell-inner {
  border-radius: 8px;
  background: $hyweb-blue;
}
.ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-range-end-single):not(.ant-picker-cell-range-start)
  .ant-picker-cell-inner {
  border-radius: 8px;
  background: $hyweb-blue;
}
.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner {
  &::before {
    border: 1px solid $hyweb-blue;
    // border-radius: 50%;
  }
}
.ant-picker-cell {
  // &::before {
  //   height: 0px !important;
  // }
  .ant-picker-cell-inner {
    border-radius: 8px;
  }
}
.ant-picker-header {
  border-bottom: 1px solid #fff;
  color: $gray1;
  font-size: 1.1rem;
  button {
    &:hover {
      color: $hyweb-blue;
    }
  }
}
.ant-picker-panel-container {
  border-radius: 8px;
}
.ant-picker-header-view {
  font-size: 1.1rem;
  button {
    &:hover {
      color: $hyweb-blue;
    }
  }
}
.ant-picker-input {
  &::placeholder {
    color: $gray3;
  }
}
.ant-picker-large {
  input {
    margin: 0;
  }
}
.ant-picker-range-separator {
  padding: 0 6px;
}

.ant-picker-month-panel {
  width: 200px !important;
  .ant-picker-content {
    height: 200px !important;
    td {
      padding-top: 0.6rem;
    }
  }
  .ant-picker-cell {
    .ant-picker-cell-inne {
      height: 30px;
    }
    &::before {
      height: 30px;
    }
  }
}
.ant-picker-year-panel {
  width: 250px !important;
  .ant-picker-content {
    height: 200px;
  }
}
.ant-picker-decade-panel {
  width: 300px !important;
}
.ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner {
  background: $hy-background;
  border-radius: 8px !important;
}
.ant-picker-cell-in-view {
  color: $gray1;
}
.ant-picker-suffix {
  color: $today-tag-blue;
  svg {
    height: 28px;
  }
}
.ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner {
  background: $hy-background !important;
  // border-radius: 50%;
}
.ant-picker-today-btn {
  color: $hyweb-blue;
}
.ant-picker-range .ant-picker-active-bar {
  background: $hyweb-blue;
}
