.l-mobile-main-login {
    height: 100vh;
    background: $hy-background url(../img/loginPage_bg.png) top left no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 1.42rem;
    align-items: start;
    padding-top: 3.33rem;

    .c-card-login__content {
        width: auto;

        .c-card-login__input {
            margin-bottom: 1rem;
        }



    }

    .c-card-login {
        min-width: 20.9rem;
        min-height: 27.3rem;
        padding: 2.2rem 0.875rem 0 0.875rem;
        background-position: right center;

        .c-card-login__title__maintitle {
            font-size: 1.5rem;
            color: $gray1;
            line-height: 1.75rem;
            margin-bottom: 0.5rem;
        }

        .c-card-login__title__subtitle {
            font-size: 1.2rem;
            color: $gray1;
            margin-bottom: 1.25rem;
            line-height: 1.75rem;
        }

        .c-card-login__content {
            .c-card-login__passwordInput {
                margin-bottom: 1.33rem;
            }

            .o-login-btn {
                margin-bottom: 3.188rem;
                border-radius: 0.66rem;
            }

            .c-card-login__list {
                li {
                    font-size: 0.75rem;

                }
            }
        }
    }

    .c-login__title {
        width: 100%;
        display: flex;
        justify-content: center;

        margin-bottom: 2rem;

        img {
            width: 18.6rem;

        }

        .c-card-login__title__maintitle {
            color: $gray1;
        }
    }


}

.l-mobile-main {
    width: 100vw;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    padding: 0 1.42rem;
    align-items: start;
    padding-top: 3.33rem;
    background-color: aquamarine;

}

.l-mobile-navbar {
    height: 3.14rem;
    width: 100%;
    position: absolute;
    top: 0;
    background: $hy-background;
    display: flex;
    justify-content: center;
    align-items: center;
}

.l-mobile-navbar_name {
    font-family: $font-family;
    color: #fff;
    font-size: 1.28rem;
    font-weight: 900;

}

.l-mobile-navbar-leftbtn {
    position: absolute;
    left: 1.42rem;
}

.l-mobile-navbar-rightbtn {
    position: absolute;
    right: 1.42rem;
}