@charset "UTF-8";

.modalCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#notReachedtime {
  .is-error-status {
    .c-search-item__input {
      &::after {
        color: #fb5b29 !important;
        content: "請填0~100之間的阿拉伯數字";
        font-size: 0.8rem;
        display: block;
        margin-top: 0.2rem;
      }
    }
  }
}

/* Checkboxes only for disabled
   ========================================================================== */
/* Remove default checkbox */
[type="checkbox"].filled-disabled + span:not(.lever):after {
  border-radius: 5px;
}

[type="checkbox"].filled-disabled + span:not(.lever):before,
[type="checkbox"].filled-disabled + span:not(.lever):after {
  content: "";
  left: 0;
  position: absolute;
  /* .1s delay is for check animation */
  -webkit-transition: border 0.25s, background-color 0.25s, width 0.2s 0.1s,
    height 0.2s 0.1s, top 0.2s 0.1s, left 0.2s 0.1s;
  transition: border 0.25s, background-color 0.25s, width 0.2s 0.1s,
    height 0.2s 0.1s, top 0.2s 0.1s, left 0.2s 0.1s;
  z-index: 1;
}

[type="checkbox"].filled-disabled:not(:checked) + span:not(.lever):before {
  width: 0;
  height: 0;
  border: 3px solid transparent;
  left: 6px;
  top: 10px;
  -webkit-transform: rotateZ(37deg);
  transform: rotateZ(37deg);
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

[type="checkbox"].filled-disabled:not(:checked) + span:not(.lever):after {
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 2px solid #5a5a5a;
  top: 0px;
  z-index: 0;
}

[type="checkbox"].filled-disabled:checked + span:not(.lever):before {
  top: 0;
  left: 1px;
  width: 8px;
  height: 13px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotateZ(37deg);
  transform: rotateZ(37deg);
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

[type="checkbox"].filled-disabled:checked + span:not(.lever):after {
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #0156a2;
  background-color: #0156a2;
  z-index: 0;
}

[type="checkbox"].filled-disabled.tabbed:focus + span:not(.lever):after {
  border-radius: 2px;
  border-color: #5a5a5a;
  background-color: rgba(0, 0, 0, 0.1);
}

[type="checkbox"].filled-disabled.tabbed:checked:focus
  + span:not(.lever):after {
  border-radius: 2px;
  background-color: #26a69a;
  border-color: #26a69a;
}

[type="checkbox"].filled-disabled:disabled:not(:checked)
  + span:not(.lever):before {
  background-color: transparent;
  border: 2px solid transparent;
}

[type="checkbox"].filled-disabled:disabled:not(:checked)
  + span:not(.lever):after {
  background-color: transparent;
  border: 2px solid #5a5a5a;
}

[type="checkbox"].filled-disabled:disabled:checked + span:not(.lever):before {
  background-color: transparent;
}

[type="checkbox"].filled-disabled:disabled:checked + span:not(.lever):after {
  background-color: #0156a2;
  border-color: #0156a2;
}

.input-wbs-member {
  font-size: 1rem;
  padding: 0 2rem 0 0.5rem;
  line-height: 20px;
  overflow-y: scroll;
}

.input-error-number {
  height: 12px;
  color: #fb5b29 !important;
  font-size: 0.8rem;
  display: block;
  margin-bottom: 0;
}

.c-tabs .c-tabs__item .active {
  color: #042340;
  border-bottom: 5px solid #0156a2;
}

.c-modal-content .c-modal-content__input .member-btn {
  white-space: nowrap;
  height: 37px;
  padding: 0.5rem 2rem;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(32, 215, 240, 0.5)),
      color-stop(96.35%, rgba(9, 101, 186, 0))
    ),
    #0868bd;
  background: linear-gradient(
      180deg,
      rgba(32, 215, 240, 0.5) 0%,
      rgba(9, 101, 186, 0) 96.35%
    ),
    #0868bd;
  border-radius: 2.66rem;
  margin-left: -0.75rem;
  margin-right: 0.5rem;
}

.c-modal-chooseGroup .c-modal-content .c-modal-content__inputSpe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #042340;
  font-size: 1.06rem;
  font-weight: 700;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #bad4e5;
}

.c-modal-chooseGroup .c-modal-content .c-modal-content__inputSpe span {
  color: #042340;
}

.c-modal-chooseGroup .c-modal-content .c-modal-content__inputSpe .o-input input,
.c-modal-chooseGroup
  .c-modal-content
  .c-modal-content__inputSpe
  .c-writeHours-content__select
  .hoursInput
  input,
.c-writeHours-content__select
  .c-modal-chooseGroup
  .c-modal-content
  .c-modal-content__inputSpe
  .hoursInput
  input,
.c-modal-chooseGroup
  .c-modal-content
  .c-modal-content__inputSpe
  .c-writeHours-content__select
  .otherInput
  input,
.c-writeHours-content__select
  .c-modal-chooseGroup
  .c-modal-content
  .c-modal-content__inputSpe
  .otherInput
  input,
.c-modal-chooseGroup
  .c-modal-content
  .c-modal-content__inputSpe
  .c-search-list
  .c-search-item
  .c-search-item__input
  input,
.c-search-list
  .c-search-item
  .c-modal-chooseGroup
  .c-modal-content
  .c-modal-content__inputSpe
  .c-search-item__input
  input {
  background-color: #fff;
  margin: 0 0 0 1rem;
}

.c-dropdown-deptSelect .select-wrapper {
  height: 38px;
  width: 130%;
  padding: 1%;
  background-color: #e2f1fe;
  border-radius: 5px;
}

.c-dropdown-deptSelect .select-wrapper .caret {
  z-index: 0;
}

.c-dropdown-deptSelect .select-wrapper ul {
  border-radius: 0.66rem;
  padding: 0.99rem;
  max-height: 635px;
}

.c-dropdown-deptSelect .select-wrapper .select-dropdown {
  border-bottom: 0px;
  font-size: 14px;
  margin: 0;
  padding-left: 10px;
  padding-top: 4px;
  padding-right: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.c-dropdown-deptSelect .select-wrapper .select-dropdown li {
  height: 40px;
}

.c-dropdown-deptSelect .select-wrapper .select-dropdown li:first-child {
  border-top: 0;
  padding-top: 0;
}

.c-dropdown-deptSelect .select-wrapper .select-dropdown li:last-child {
  border-bottom: 0;
}

.c-dropdown-deptSelect .select-wrapper .select-dropdown li .optgroup-option {
  padding-left: 0;
}

.c-dropdown-deptSelect .select-wrapper .select-dropdown .optgroup {
  padding-left: 0;
  padding-top: 1.5rem;
  border: 0;
  font-size: 1.06rem;
}

.c-dropdown-deptSelect .select-wrapper .select-dropdown .optgroup:hover {
  background: #fff;
  cursor: default;
}

.c-dropdown-deptSelect .select-wrapper .select-dropdown .optgroup span {
  color: #042340;
  font-size: 14px;
  font-weight: 700;
}

.c-dropdown-deptSelect .dropdown-content li {
  min-height: 36px;
  border-bottom: 1px solid #bad4e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.c-dropdown-deptSelect .dropdown-content li span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #042340;
  padding: 0;
  font-weight: 400;
}

.c-dropdown-deptSelect .dropdown-content li a {
  padding: 0;
}

.c-dropdown-deptSelect .dropdown-content .disabled span {
  color: #8495a4;
}

.c-dropdown-deptSelect label {
  font-size: 1.06rem;
  color: #042340;
  font-weight: 700;
  font-family: "Noto Sans TC", "sans-serif";
}

.c-modal-department .c-modal-features .col .c-dropdown-planContentSpe {
  width: 24rem;
}

.c-modal-department
  .c-modal-features
  .col
  .c-dropdown-planContentSpe
  .select-dropdown {
  width: 100%;
}

.c-dropdown-planContentSpe .select-wrapper {
  height: 38px;
  width: 100%;
  padding: 1%;
  background-color: #e2f1fe;
  border-radius: 5px;
}

.c-dropdown-planContentSpe .select-wrapper .caret {
  z-index: 0;
}

.c-dropdown-planContentSpe .select-wrapper ul {
  border-radius: 0.66rem;
  padding: 0.99rem;
  max-height: 635px;
}

.c-dropdown-planContentSpe .select-wrapper .select-dropdown {
  border-bottom: 0px;
  font-size: 14px;
  margin: 0;
  padding-left: 10px;
  padding-top: 4px;
  padding-right: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.c-dropdown-planContentSpe .select-wrapper .select-dropdown li {
  height: 40px;
}

.c-dropdown-planContentSpe .select-wrapper .select-dropdown li:first-child {
  border-top: 0;
  padding-top: 0;
}

.c-dropdown-planContentSpe .select-wrapper .select-dropdown li:last-child {
  border-bottom: 0;
}

.c-dropdown-planContentSpe
  .select-wrapper
  .select-dropdown
  li
  .optgroup-option {
  padding-left: 0;
}

.c-dropdown-planContentSpe .select-wrapper .select-dropdown .optgroup {
  padding-left: 0;
  padding-top: 1.5rem;
  border: 0;
  font-size: 1.06rem;
}

.c-dropdown-planContentSpe .select-wrapper .select-dropdown .optgroup:hover {
  background: #fff;
  cursor: default;
}

.c-dropdown-planContentSpe .select-wrapper .select-dropdown .optgroup span {
  color: #042340;
  font-size: 14px;
  font-weight: 700;
}

.c-dropdown-planContentSpe .dropdown-content li {
  min-height: 36px;
  border-bottom: 1px solid #bad4e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.c-dropdown-planContentSpe .dropdown-content li span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #042340;
  padding: 0;
  font-weight: 400;
}

.c-dropdown-planContentSpe .dropdown-content li a {
  padding: 0;
}

.c-dropdown-planContentSpe .dropdown-content .disabled span {
  color: #8495a4;
}

.c-dropdown-planContentSpe label {
  font-size: 1.06rem;
  color: #042340;
  font-weight: 700;
  font-family: "Noto Sans TC", "sans-serif";
}

.c-dropdown-planContentSpe .select-wrapper {
  padding-top: 0.5%;
}

.c-dropdown-planContentSpe .select-wrapper .select-dropdown .disabled {
  background-color: #fff;
  color: #8495a4;
}

.mobile-div-hide-down {
  position: fixed;
  bottom: -200%;
  z-index: 101;
  transition: ease 0.6s;
}

.mobile-div-show-up {
  position: fixed;
  bottom: 0%;
  z-index: 101;
  transition: ease 0.6s;
}

.mobile-div-hide-right {
  position: fixed;
  right: -200%;
  bottom: 0%;
  z-index: 102;
  transition: ease 0.6s;
}

.mobile-div-show-left {
  position: fixed;
  right: 0%;
  bottom: 0%;
  z-index: 102;
  transition: ease 0.6s;
}

.drag-up {
  -webkit-animation: dragup ease 0.2s 1;
  animation: dragup ease 0.2s 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  background-color: #ffccbc !important;
}
.drag-down {
  -webkit-animation: dragdown ease 0.2s 1;
  animation: dragdown ease 0.2s 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  background-color: #dcedc8 !important;
}
@-webkit-keyframes dragup {
  from {
    margin-top: 10px;
  }
  to {
    margin-top: 60px;
  }
}
@keyframes dragup {
  from {
    margin-top: 10px;
  }
  to {
    margin-top: 60px;
  }
}
@-webkit-keyframes dragdown {
  from {
    margin-bottom: 10px;
    margin-top: 60px;
  }
  to {
    margin-bottom: 60px;
    margin-top: 10px;
  }
}
@keyframes dragdown {
  from {
    margin-bottom: 10px;
    margin-top: 60px;
  }
  to {
    margin-bottom: 60px;
    margin-top: 10px;
  }
}
// modify.txt
.c-dropdown-departmentCheck .c-dropdown__modal .c-dropdown__content__height {
  position: relative;
  top: 5px;
  height: 230px;
  width: 250px;
  overflow-y: scroll;
}

#todo
  .change-card-to-list
  .l-main-content-item
  .l-main-content-item__listGroup
  .c-card-alertPlan
  .c-card__item
  .c-card__item__footer
  .c-card__item__content__list
  .list__item__percent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-end;
}
///tooltip樣式

.tooltip-win {
  width: inherit !important;
  word-break: break-all !important;
  white-space: pre-wrap !important;
  padding: 8px 5px 8px 8px !important;
  // padding-left: 8px !important;
  // padding-right: 5px !important;
  font-size: 1rem !important;
  font-weight: normal !important;
  line-height: 130% !important;
  color: $gray1 !important;
  background-color: #fff !important;
  opacity: 1 !important;
  border: 1px solid #bad4e5 !important;
  box-shadow: 0px 2px 3px 0px rgba(1, 27, 49, 0.2) !important;
  border-radius: 10px !important;
}
.tooltip-win-full {
  width: 100% !important;
  word-break: break-all !important;
  white-space: pre-wrap !important;
  padding: 8px 5px 8px 8px !important;
  // padding-left: 8px !important;
  // padding-right: 5px !important;
  font-size: 1rem !important;
  font-weight: normal !important;
  line-height: 130% !important;
  color: #042340 !important;
  background-color: #fff !important;
  opacity: 1 !important;
  border: 1px solid #bad4e5 !important;
  box-shadow: 0px 2px 3px 0px rgba(1, 27, 49, 0.2) !important;
  border-radius: 10px !important;
}
.tooltip-win-fit {
  width: fit-content !important;
  word-break: break-all !important;
  white-space: pre-wrap !important;
  padding-left: 8px !important;
  padding-right: 5px !important;
  font-size: 1rem !important;
  font-weight: normal !important;
  line-height: 130% !important;
  color: #042340 !important;
  background-color: #fff !important;
  opacity: 1 !important;
  border: 1px solid #bad4e5 !important;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(1, 27, 49, 0.2) !important;
  box-shadow: 0px 2px 3px 0px rgba(1, 27, 49, 0.2) !important;
  border-radius: 10px !important;
}
